/* ----- NAVBAR MAIN ----- */
.navBar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}

/* ----- NAV LINKS (DESKTOP) ----- */
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #333;
}

/* ---------- HAMBURGER ---------- */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 3px;
}

/* ----- MOBILE STYLES ----- */
@media (max-width: 768px) {

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    width: 100%;
    display: block;
    flex-direction: column;
    padding: 20px;
    text-align: left;

    /* initially hidden */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;
  }

  /* when active (menu open) */
  .nav-links.active {
    max-height: 400px;   /* enough height for all links */
    opacity: 1;
    border-bottom: 1px solid #ddd;
  }

  .nav-links a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
  }
}
